@using DotNetNuke.Framework.JavaScriptLibraries

@model Dnn.DynamicContent.DynamicContentItem

@{
    JavaScript.RequestRegistration(CommonJs.DnnPlugins);
}

<div class="dccEditContent">
    <div class="dccContainer">
        @Dnn.TemplateFor((string)ViewData["Template"])
    </div>
    <div class="dccFooter">
        <input type="button" class="secondarybtn" title="@Dnn.LocalizeString("Cancel")" value="@Dnn.LocalizeString("Cancel")">
        <input type="submit" class="primarybtn" title="@Dnn.LocalizeString("Save")" value="@Dnn.LocalizeString("Save")">
    </div>
</div>

<script language="javascript" type="text/javascript">
    jQuery(document).ready(function($) {
        $(".dccFooter .secondarybtn").click(function() {
            window.dnnModal.closePopUp();
        });
    });
</script>