@using DotNetNuke.Web.MvcPipeline.Security.Models
@using DotNetNuke.Services.Localization
@using DotNetNuke.MvcPipeline

@model ModulePermissionsGridViewModel

<div class="dnnGrid dnnPermissionsGrid">

    @* Role Groups Filter *@
    <div class="dnnFormItem">
        <div class="leftGroup">
            <label>@Localization.GetString("RoleGroupFilter")</label>
            @Html.DropDownList("RoleGroups", new SelectList(Model.RoleGroups, "RoleGroupID", "RoleGroupName"),
                new { @class = "roleGroupsDropDown" })
        </div>
        <div class="rightGroup">
            <label>@Localization.GetString("RoleSelect")</label>
            @Html.DropDownList("Roles", new SelectList(Model.Roles, "RoleID", "RoleName"),
                new { @class = "rolesDropDown" })
            <a href="#" class="dnnSecondaryAction addRoleBtn">@Localization.GetString("Add")</a>
        </div>
    </div>

    @* Roles Grid *@
    <div class="permissionsGrid rolePermissions">
        <table class="dnnPermissionsGrid">
            <thead>
                <tr class="dnnGridHeader">
                    <th class="permissionHeader">@Localization.GetString("PermissionRoleHeader.Text")</th>
                    @foreach (var permission in Model.Permissions)
                    {
                        <th>@permission.PermissionName @Localization.GetString(permission.PermissionName + ".Permission")</th>
                    }
                    <th>Actions @Localization.GetString("Actions")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.RolePermissions)
                {

                    <tr class="dnnGridItem" data-role-id="@role.RoleId">
                        <td class="permissionHeader">@role.RoleName</td>
                        @foreach (var permission in role.Permissions)
                        {
                            <td>
                                @Html.PermissionTriState(permission.Key,
                                                permission.Value.State,
                                                permission.Value.IsFullControl,
                                                permission.Value.IsView,
                                                 permission.Value.Locked,
                                                  permission.Value.SupportsDenyMode,
                                                   permission.Value.PermissionKey)

                                @*@Html.Partial("_PermissionTriState", new PermissionTriStateModel
                                    {
                                        //Permission = permission,
                                        RoleId = role.RoleId
                                    })*@
                                @*@permission.Value.State
                                    @permission.Value.Enabled*@
                            </td>
                        }
                        <td>
                            <a href="#" class="deleteRole"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @* Users Grid *@
    @if (Model.Users.Count > 0)
    {
        <div class="permissionsGrid userPermissions">
            <table>
                <thead>
                    <tr>
                        <th>@Localization.GetString("PermissionUserHeader.Text")</th>
                        @foreach (var permission in Model.Permissions)
                        {
                            <th>@Localization.GetString(permission.PermissionName + ".Permission")</th>
                        }
                        <th>@Localization.GetString("Actions")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr data-user-id="@user.UserID">
                            <td>@user.DisplayName</td>
                            @foreach (var permission in Model.Permissions)
                            {
                                <td>
                                    @Html.Partial("_PermissionTriState", new PermissionTriStateModel
                                    {
                                        Permission = permission,
                                        UserId = user.UserID
                                    })
                                </td>
                            }
                            <td>
                                <a href="#" class="deleteUser"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @* Add User Section *@
    <div class="dnnFormItem">
        <label>@Localization.GetString("DisplayName")</label>
        <input type="text" id="txtUser" class="userSearchInput" />
        <input type="hidden" id="hiddenUserIds" />
        <a href="#" class="dnnSecondaryAction addUserBtn">@Localization.GetString("Add")</a>
    </div>
</div>

@*@section Scripts {
        <script>
            $(function() {
                var permissionsGrid = new PermissionsGrid({
                    container: '.dnnPermissionsGrid',
                    updateUrl: '@Url.Action("UpdatePermissions")',
                    addRoleUrl: '@Url.Action("AddRole")',
                    addUserUrl: '@Url.Action("AddUser")'
                });
            });
        </script>
    }*@ 