@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.ContactList.Api.Contact>

@using DotNetNuke.Services.Localization
@using DotNetNuke.Web.Mvc.Helpers

<div class="editContact">
    @*@Html.ValidationSummary(true)*@
    <div>
        <label>@Dnn.LocalizeString("FirstName")*</label>
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName, @Dnn.LocalizeString("FirstNameRequired"))
    </div>
    <div>
        <label>@Dnn.LocalizeString("LastName")*</label>
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName, @Dnn.LocalizeString("LastNameRequired"))
    </div>
    <div>
        <label>@Dnn.LocalizeString("Email")*</label>
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, @Dnn.LocalizeString("EmailRequired"))

    </div>
    <div>
        <label>@Dnn.LocalizeString("Phone")*</label>
        @Html.TextBoxFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone, @Dnn.LocalizeString("PhoneRequired"))
    </div>
    <div>
        <label>@Dnn.LocalizeString("Social")*</label>
        @Html.TextBoxFor(m => m.Social)
        @Html.ValidationMessageFor(m => m.Social, @Dnn.LocalizeString("SocialRequired"))
    </div>
    <div class="buttons">
        <button type="submit" id="btnSave" class="dnnPrimaryAction">@Dnn.LocalizeString("Save")</button>
    </div>
</div>
