@using DotNetNuke.Web.MvcPipeline.Models
@using DotNetNuke.Web.MvcPipeline.Skins
@using DotNetNuke.Web.DDRMenu
@model PageModel

@{
    
}


@section head {    
    @* CSS & JS includes *@
    @Html.SkinPartial("partials/_includes")
}

<div class="aperture-theme">
    <!-- Header/NavBar -->
    @Html.SkinPartial("partials/_header")
    
    <!-- Main Content -->
	<main class="aperture-main">
        @Html.Pane(id: "BannerPane")
        @Html.Pane(id: "ContentPane", cssClass: "aperture-content-pane")
        @Html.Pane(id: "FluidPane")
    </main>

    <!-- Footer -->
    @Html.SkinPartial("partials/_footer")
</div>



@{
    // Context.Response.AddHeader("Content-Security-Policy", Model.ContentSecurityPolicy.GeneratePolicy());
    Context.Response.AddHeader("X-XSS-Protection", "1; mode=block");
    Context.Response.AddHeader("X-Content-Type-Options", "nosniff");
    Context.Response.AddHeader("Referrer-Policy", "same-origin");
    Context.Response.AddHeader("Permissions-Policy", "camera=self");
    Context.Response.AddHeader("Strict-Transport-Security", "max-age=2592000");
} 